<p>
  <strong>Team Lead:</strong>
  <%= @leader.name %>
</p>

<table>
  <tr><th>Name</th><th>Skill Count</th></tr>
  <% @leader.employees.each do |employee| %>
   <tr><td><%= employee.name%></td><td><%= employee.skills.count %></td>
</table>
<% end %>

<%= link_to 'Back', leaders_path %>
